<div id="product-div">
    <mat-card>
        <span class="list-title">Product</span>

        <div class="form-group row div-info">
            <mat-label>ID: {{product.productID}}</mat-label>
        </div>

        <div class="form-group row div-info">
            <label>Product Name: {{product.productName}}</label>
        </div>

        <div class="form-group row div-info">
            <label>Description: {{product.description}}</label>
        </div>

        <div class="form-group row div-info">
            <label>Cost: {{product.cost}}</label>
        </div>

        <div class="form-group row div-info">
            <label>PPoints cost: {{product.promotionalPointsCost}}</label>
        </div>

        <div class="form-group row div-info">
            <label>Product type: {{product.productType.productTypeName}}</label>
        </div>
    </mat-card>
</div>