#account-div{
    margin:0 auto;
    width:35%;
}

.mat-card{
    margin: 3px;
}

.list-title{
    font-size: 24px;
    font-weight: bold;
}

.back-button{
    text-decoration: solid;
    font-size: 16px;
}

.div-info{
    padding-top: 20px;
    font-size: 20px;
}

.register-button-div{
    display: flex;
    justify-content: center;
}