<mat-sidenav-container class="sidenav-container">
    <div class="menu-btn-container">
        <button class="menu-btn" mat-mini-fab (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
            Menu
        </button>
    </div>
    
    <mat-sidenav #sidenav mode="over" class="sidenav-div">
        <mat-nav-list>
            <a mat-list-item href="#pizza" (click)="sidenav.close()">Пиццы</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#drink" (click)="sidenav.close()">Напитки</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#sauce" (click)="sidenav.close()">Соусы</a>
        </mat-nav-list>
    </mat-sidenav>
    
    <div class="cart-div">
        <button class="cart-button" [routerLink]="['/cart']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
            <table class="cart-table">
                <tr>
                    <td><img class="cart-image-icon" src="../../../assets/cart_icon.png"></td>
                    <td>Shopping Cart</td>
                </tr>
            </table>
            </button>
    </div>
    
    <div id="products-div">
        <div id="pizza" class="title-block">Пиццы</div>
        <div class="wrapper">
            <div itemscope itemtype="Product" class="cart-box" *ngFor="let pizza of pizzas">
                <img itemprop="image" class="image-icon" src="../../../assets/pizza.png">
                <h3 itemprop="name">{{pizza.productName}}</h3>
                <p>Описание: {{pizza.description}}</p>
                <div class="product-form">
                    <div class="price-box">
                        <span>Стоимость: {{pizza.cost}} руб</span>
                    </div>
                    <button (click)="addToCart(pizza)">В корзину</button>
                </div>
            </div>
        </div>

        <div id="drink" class="title-block">Напитки</div>
        <div class="wrapper">
            <div itemscope itemtype="Product" class="cart-box" *ngFor="let drink of drinks">
                <img itemprop="image" class="image-icon" src="../../../assets/drink.png">
                <h3 itemprop="name">{{drink.productName}}</h3>
                <p>Описание: {{drink.description}}</p>
                <div class="product-form">
                    <div class="price-box">
                        <span>Стоимость: {{drink.cost}} руб</span>
                    </div>
                    <button (click)="addToCart(drink)">В корзину</button>
                </div>
            </div>
        </div>

        <div id="sauce" class="title-block">Соусы</div>
        <div class="wrapper">
            <div itemscope itemtype="Product" class="cart-box" *ngFor="let sauce of sauces">
                <img itemprop="image" class="image-icon" src="../../../assets/sauce.png">
                <h3 itemprop="name">{{sauce.productName}}</h3>
                <p>Описание: {{sauce.description}}</p>
                <div class="product-form">
                    <div class="price-box">
                        <span>Стоимость: {{sauce.cost}} руб</span>
                    </div>
                    <button (click)="addToCart(sauce)">В корзину</button>
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-container>
