<div id="products-div">
    <!-- <div class="title-block">Пиццы</div>
    <div class="wrapper">
        <div itemscope itemtype="Product" class="cart-box">
            <img itemprop="image" class="image-icon" src="../../../assets/pizza.png">
            <h3 itemprop="name">{{pizzas[0].productName}}</h3>
            <p>Описание: {{pizzas[0].description}}</p>
            <form action="something" method="POST">
                <div class="price-box">
                    <span>Стоимость: {{pizzas[0].cost}} руб</span>
                </div>
                <button>В корзину</button>
            </form>
        </div>
        <div itemscope itemtype="Product" class="cart-box">
            <img itemprop="image" class="image-icon" src="../../../assets/pizza.png">
            <h3 itemprop="name">{{pizzas[1].productName}}</h3>
            <p>Состав: {{pizzas[1].description}}</p>
            <form action="something" method="POST">
                <div class="price-box">
                    <span>Стоимость: {{pizzas[1].cost}} руб</span>
                </div>
                <button>В корзину</button>
            </form>
        </div>
    </div> -->
</div>

