<div>
  <!--Navigation-->
  <div class="topnav">
    <a [routerLink]="['']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">Pizza Shop</a>
    <a [routerLink]="['/accounts']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" *ngIf='isLoggedIn && isAdmin'>Accounts</a>
    <a class="personal-account" [routerLink]="['/presonalAccount']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" *ngIf='isLoggedIn'>Personal Account</a>
    <a class="registration" [routerLink]="['/registration']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" *ngIf='!isLoggedIn'>Sign up</a>
    <a class="login" [routerLink]="['/login']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" *ngIf='!isLoggedIn'>Sign in</a>
  </div>

  <router-outlet></router-outlet>
</div>