#center-block{
    margin: 0 auto;
    width: 25%;
}

.card-title{
    font-size: 24px;
}

.register-form{
    width: auto;
    font-size: 20px;
    margin: 0;
}

.register-button-div{
    display: flex;
    justify-content: center;
}

.mat-form-field-infix {
    width: auto;
    padding: 0;
    border-top-width: 0;
}

.error-div {
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.main-block{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/login-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}