#center-block{
    margin: 0 auto;
    width: 30%;
}

.card-title{
    font-size: 24px;
}

.register-form{
    width: auto;
    font-size: 20px;
    margin: 0;
}

.register-button-div{
    display: flex;
    justify-content: center;
}

.mat-form-field-infix {
    width: auto;
    padding: 0;
    border-top-width: 0;
}

.error-div {
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}