#account-div{
    margin:0 auto;
    width:100%;
}

.mat-card{
    margin: 3px;
}

.list-title{
    font-size: 24px;
    font-weight: bold;
}

.back-button{
    text-decoration: solid;
    font-size: 16px;
}

.div-info{
    padding-top: 20px;
    font-size: 20px;
}

.save-button-div{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.mat-form-field-infix {
    width: auto;
    padding: 0;
    border-top-width: 0;
}