<div id="account-div">
    <mat-card>
        <span class="list-title">Personal account</span>

        <div class="form-group row div-info">
            <mat-label>ID: {{account.userID}}</mat-label>
        </div>

        <div class="form-group row div-info">
            <label>First Name: {{account.firstName}}</label>
        </div>

        <div class="form-group row div-info">
            <label>Last Name: {{account.lastName}}</label>
        </div>

        <div class="form-group row div-info">
            <label>Username: {{account.userName}}</label>
        </div>

        <div class="form-group row div-info">
            <label>Email: {{account.email}}</label>
        </div>

        <div class="form-group row div-info">
            <label>Phone: {{account.phoneNumber}}</label>
        </div>

        <div class="form-group row div-info">
            <label>PPoints: {{account.promotionalPoins}}</label>
        </div>

        <!--Edit user role field-->
        <div class="form-group row div-info">
            <label>Roles: </label>
            <mat-form-field appearance="fill">
                <mat-label>Roles</mat-label>
                <mat-select [formControl]="rolesSelect" multiple [(value)]="selectedRole">
                <mat-option *ngFor="let role of rolesList" [value]="role">{{role}}</mat-option>
                </mat-select>
            </mat-form-field> 
        </div>  
    </mat-card>

    <div class="form-group row save-button-div">
        <button mat-flat-button color="primary" [mat-dialog-close]="data.account" (click)="saveChanges()">Сохранить</button>
    </div>
</div>